* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.right-text {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../IMG/Ellipse\ 9.png);
    background-repeat: none;
    background-size: cover;
}

span {
    color: #FF8A00;
}

.nav {
    padding: 50px 0 160px 0;
    display: flex;
    justify-content: space-between;
}

.left-link1 {
    color: #FF8A00;
}

.left-link {
    color: black;
}

.right {
    display: flex;
    gap: 10px;
    align-items: center;
}

.left {
    display: flex;
    gap: 20px;
    align-items: center;
}

.direction {
    display: flex;
}

.direction-text-title {
    padding-top: 20px;
    width: 60%;
    font-size: 80px;
}

.direction-text {
    width: 84%;
    padding: 30px 0 70px 0;
    font-size: 20px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.main-container {
    display: flex;
    background-color: #3FC66E;
}

.main-left-text {
    display: flex;
}

.main-right-img {
    width: 650px;
    height: 600px;
    margin: 100px 0 100px 40px;
}

.main-left-text-title {
    font-size: 80px;
    padding: 140px 0 0 0;
}

.main-left-text {
    width: 50%;
    padding: 60px 0 120px 0;
    font-size: 20px;
    color: #5C4529;
}

.main-menu {
    padding-top: 160px;
    font-size: 80px;
    text-align: center;
}

.main-menu-link {
    padding: 60px 0 60px 0;
    width: 100%;
    margin: 0 auto;
}

.main-menu-boxes {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-menu-box {
    width: 25%;
    margin: 0 auto;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 70px;
    background-color: #D0CCC7;
}

.main-menu-box-img {
    width: 200px;
    height: 200px;
}

.main-menu-box-text {
    width: 100%;
    padding: 15px 0 30px 0;
    font-size: 14px;
    text-align: center;
}

.main-menu-box-title {
    padding: 20px 0 40px 0;
    text-align: center;
}

.main-menu-box-img-sell {
    width: 250px;
    height: 50px;
}