* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.right-text {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../IMG/Ellipse\ 9.png);
    background-repeat: none;
    background-size: cover;
}

span {
    color: #FF8A00;
}

.nav {
    padding: 50px 0 160px 0;
    display: flex;
    justify-content: space-between;
}

.left-link1 {
    color: #FF8A00;
}

.left-link {
    color: black;
}

.right {
    display: flex;
    gap: 10px;
    align-items: center;
}

.left {
    display: flex;
    gap: 20px;
    align-items: center;
}

.direction {
    display: flex;
}

.direction-text-title {
    padding-top: 20px;
    width: 60%;
    font-size: 80px;
}

.direction-text {
    width: 84%;
    padding: 30px 0 70px 0;
    font-size: 20px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.main-container {
    display: flex;
}

.main-left-text {
    display: flex;
}

.main-right-img {
    width: 650px;
    height: 600px;
}

.main-left-text-title {
    font-size: 80px;
}
.main-left-text{
    width: 50%;
    padding: 60px 0 120px 0;
}